<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<true/>
	<key>Label</key>
	<string>net.dwservice.agsvc</string>
	<key>ProgramArguments</key>
	<array>
		<string>@PATH_DWA@/native/dwagsvc</string>
		<string>run</string>
	</array>
	<key>OnDemand</key>
	<false/>
 	<key>StandardErrorPath</key>
  	<string>@PATH_DWA@/native/service.log</string>
  	<key>StandardOutPath</key>
	<string>@PATH_DWA@/native/service.log</string>
	<key>ExitTimeOut</key>
	<integer>60</integer>
</dict>
</plist>
